In [3]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845525 sha256=9efb148eeada75a36dd99e425c53d98f328db502c9d1455386be297ceb048059
  Stored in directory: c:\users\sanedunu\appdata\local\pip\cache\wheels\51\c8\18\298a4ced8ebb3ab8a7d26a7198c0cc7035abb906bde94a4c4b
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [42]:
import pyspark

In [43]:
import pandas as pd
type(pd.read_csv('C:/Users/sanedunu/OneDrive - Capgemini/Desktop/Work/pyspark/sample_data.csv'))

pandas.core.frame.DataFrame

In [77]:
pd.read_csv('C:/Users/sanedunu/OneDrive - Capgemini/Desktop/Work/pyspark/sample_data.csv')

     Name  Age
0    Kesh   32
1  Manasi   27
2     Ira   41

In [46]:
from pyspark.sql import SparkSession

In [45]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [47]:
spark

In [48]:
df_pyspark=spark.read.csv('C:/Users/sanedunu/OneDrive - Capgemini/Desktop/Work/pyspark/sample_data.csv')

In [49]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [50]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
|  Kesh| 32|
|Manasi| 27|
|   Ira| 41|
+------+---+

In [55]:
df_pyspark=spark.read.csv('C:/Users/sanedunu/OneDrive - Capgemini/Desktop/Work/pyspark/sample_data.csv')

In [56]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('C:/Users/sanedunu/OneDrive - Capgemini/Desktop/Work/pyspark/sample_data.csv',inferSchema=True)

In [57]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|  Kesh| 32|
|Manasi| 27|
|   Ira| 41|
+------+---+

In [58]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [59]:
df_pyspark.head()

Row(Name='Kesh', Age=32)

In [60]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [61]:
df_pyspark.head(2)

[Row(Name='Kesh', Age=32), Row(Name='Manasi', Age=27)]

In [62]:
df_pyspark.select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|  Kesh| 32|
|Manasi| 27|
|   Ira| 41|
+------+---+

In [63]:
df_pyspark['Name']

Column<'Name'>

In [64]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [65]:
df_pyspark.describe().show()

+-------+------+------------------+
|summary|  Name|               Age|
+-------+------+------------------+
|  count|     3|                 3|
|   mean|  null|33.333333333333336|
| stddev|  null| 7.094598884597588|
|    min|   Ira|                27|
|    max|Manasi|                41|
+-------+------+------------------+

In [66]:
df_pyspark.columns

['Name', 'Age']

In [67]:
df_pyspark.select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|  Kesh| 32|
|Manasi| 27|
|   Ira| 41|
+------+---+

In [68]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [69]:
df_pyspark['Name']

Column<'Name'>

In [70]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [71]:
df_pyspark.describe().show()

+-------+------+------------------+
|summary|  Name|               Age|
+-------+------+------------------+
|  count|     3|                 3|
|   mean|  null|33.333333333333336|
| stddev|  null| 7.094598884597588|
|    min|   Ira|                27|
|    max|Manasi|                41|
+-------+------+------------------+

In [72]:
#add columns in dataframe
from pyspark.sql.functions import lit
df_pyspark=df_pyspark.withColumn('Experience',lit(2))
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|  Kesh| 32|         2|
|Manasi| 27|         2|
|   Ira| 41|         2|
+------+---+----------+

In [73]:
#drop columns
df_pyspark=df_pyspark.drop('Experience')

In [74]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|  Kesh| 32|
|Manasi| 27|
|   Ira| 41|
+------+---+

In [75]:
#renaming the column
df_pyspark.withColumnRenamed('Age','Roll').show()

+------+----+
|  Name|Roll|
+------+----+
|  Kesh|  32|
|Manasi|  27|
|   Ira|  41|
+------+----+

In [76]:
df_pyspark=spark.read.csv('C:/Users/sanedunu/OneDrive - Capgemini/Desktop/Work/pyspark/data1.csv',header=True,inferSchema=True)

In [77]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [78]:
#drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [79]:
#null values columns will be deleted by using '.na'
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [80]:
#any=how
df_pyspark.na.drop(how="all").show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [81]:
df_pyspark.na.drop(how="any").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [82]:
#threshold - if any 3 non null values are there, they will be deleted
df_pyspark.na.drop(how="any",thresh=3).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

In [83]:
#subset - if any nul values are there, those will be deleted
df_pyspark.na.drop(how="any",subset=['age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
|     null| 36|      null|  null|
+---------+---+----------+------+

In [84]:
#filling missing value
df_pyspark.na.fill('Missing Values',['Experience','age']).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [85]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [87]:
#imputer - null will be replaced with mean or median of columns
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [88]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         29|                 4|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 4|         20000|
+---------+----+----------+------+-----------+------------------+--------------+

In [89]:

df_pyspark=spark.read.csv('C:/Users/sanedunu/OneDrive - Capgemini/Desktop/Work/pyspark/data2.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [90]:
#filter operation
#salary <= 20,000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [91]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [92]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [31]:
f = open("C:/Users/sanedunu/OneDrive - Capgemini/Desktop/quadratic.py", "r")
num_lines = sum(1 for line in f if line.rstrip())
print('Total lines:', num_lines)

Total lines: 12

In [35]:
f = open("C:/Users/sanedunu/OneDrive - Capgemini/Desktop/quadratic.py", "r")

count=0
ans  = 0
while True:
    count+=1
    line=f.readline()
#     print(line)
    if not line:
        break
    if line[0] == "#":
        ans = ans
    else:
        ans= ans+1
print(ans)
# num_lines = sum(1 for line in f if line.rstrip())

# for i in range(num_lines):
#     print(i)
#     if str(num_lines[i])=="#":
#         num_lines = num_lines
#     else:
#         num_lines = num_lines+1
print('Total lines:', num_lines)

13
Total lines: 12

In [34]:
f = open("C:/Users/sanedunu/OneDrive - Capgemini/Desktop/quadratic.py", "r")
Total_Count = 0
for l in f.readlines():
    Total_Count+=1
print(Total_Count)
# print("Total_Count:",Total_num_lines)

17

In [40]:
###### "#" value variable ans
###### without empty lines variable num_lines
###### total lines Total_Count
out = (Total_Count-ans)+(Total_Count-num_lines)
print(Total_Count-out)

8

In [93]:
df_pyspark.filter((df_pyspark['Salary']<=20000)|
                 (df_pyspark['Salary']<=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [95]:
df_pyspark.filter('Salary<=20000').select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [98]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

In [ ]:
#GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [5]:
df_pyspark=spark.read.csv('C:/Users/sanedunu/OneDrive - Capgemini/Desktop/Work/pyspark/data3.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [10]:
#GroupBy
#Grouped to find max salary
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [12]:
#GroupBy dept. to get max salary
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [13]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [14]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [17]:
df_pyspark.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [33]:
df_pyspark=spark.read.csv('C:/Users/sanedunu/OneDrive - Capgemini/Desktop/Work/pyspark/data1.csv',header=True,inferSchema=True)

In [34]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [35]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [36]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [37]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["age","Experience"],outputCol="Independent Features")

In [38]:
output=featureassembler.transform(df_pyspark)

In [39]:
output.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|Independent Features|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    Sunny| 29|         4| 20000|          [29.0,4.0]|
|     Paul| 24|         3| 20000|          [24.0,3.0]|
|   Harsha| 21|         1| 15000|          [21.0,1.0]|
|  Shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [40]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent Features']

In [41]:
finalized_data=output.select("Independent Features","Salary")

In [42]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [47]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [48]:
#coefficients
regressor.coefficients

DenseVector([-2000.0, 7000.0])

In [50]:
#intercepts
regressor.intercept

50000.00000004808

In [53]:
#prediction
pred_results=regressor.evaluate(test_data)

In [55]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [24.0,3.0]| 20000| 23000.00000000573|
|          [30.0,8.0]| 25000|46000.000000025975|
|         [31.0,10.0]| 30000| 58000.00000003781|
+--------------------+------+------------------+

In [56]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(17333.333333356506, 411333333.3344143)