In [1]:
import findspark

findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [4]:
from pyspark.sql.types import Row
from datetime import datetime

In [9]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.sql("select 'spark' as hello ")

df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName("SparkByExample.com").getOrCreate()
address = [(1,"15851 Jeffrey Rd", "Alice"),
          (2,"Jeffrey Rd", "Bob"),
          (3,"1311 Ave", "CA")]
df = spark.createDataFrame(address,["id","address","Name"])
df.show()

+---+----------------+-----+
| id|         address| Name|
+---+----------------+-----+
|  1|15851 Jeffrey Rd|Alice|
|  2|      Jeffrey Rd|  Bob|
|  3|        1311 Ave|   CA|
+---+----------------+-----+

In [11]:
from pyspark import *
from pyspark.sql import SparkSession, Row
import pyspark.sql.functions as f
# from pysaprk.sql.functions
spark = SparkSession.builder.appName('pyspark - example read csv').getOrCreate()
sc  = spark.sparkContext
df = spark.read.option("header",True).csv(r"C:\Users\sanedunu\Desktop\demo.csv")
df.show()

+---+-------+------+
| id|   name|source|
+---+-------+------+
|  1|  Alice|  ngdb|
|  2|    bod|   jhg|
|  3|    sgf|   kjy|
| 45|   drfv|   jgf|
|  5|    hsr|   gfd|
|  6|    hfb|    fd|
|  7| hdfbgc|     h|
|  8|    jdg|   the|
|  9|jjegfdb|    hy|
| 10|   jdcg|   hfd|
+---+-------+------+

In [12]:
sc

In [13]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.sql("select 'spark' as hello ")

df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [14]:
from pyspark.sql.types import Row
from datetime import datetime

In [15]:
simple_data=sc.parallelize([1,"Alice",50])
simple_data

ParallelCollectionRDD[27] at readRDDFromFile at PythonRDD.scala:274

In [16]:
simple_data.count()

3

In [17]:
simple_data.first()

1

In [18]:
simple_data.take(2)

[1, 'Alice']

In [19]:
simple_data.collect()

[1, 'Alice', 50]

In [20]:
df=simple_data.toDF()

TypeError: Can not infer schema for type: <class 'int'>

In [21]:
records=sc.parallelize([[1,"Alice",50],[2,"bob",80]])
records

ParallelCollectionRDD[36] at readRDDFromFile at PythonRDD.scala:274

In [22]:
records.collect()

[[1, 'Alice', 50], [2, 'bob', 80]]

In [23]:
records.count()

2

In [24]:
records.first()

[1, 'Alice', 50]

In [25]:
records.take(2)

[[1, 'Alice', 50], [2, 'bob', 80]]

In [26]:
records.collect()

[[1, 'Alice', 50], [2, 'bob', 80]]

In [27]:
#convert to dataframe using toDF method
df=records.toDF()

In [28]:
df

DataFrame[_1: bigint, _2: string, _3: bigint]

In [29]:
df.show()
#default will display top 20 rows
#column names are automatically generated

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
|  2|  bob| 80|
+---+-----+---+

In [30]:
#explicitly mentioning of column names:
data=sc.parallelize([Row(id=1,name="Alice",score=50)])
data

ParallelCollectionRDD[51] at readRDDFromFile at PythonRDD.scala:274

In [31]:
data.count()
#RDD is made up of Row objects - each element is a Row

1

In [32]:
data.collect()

[Row(id=1, name='Alice', score=50)]

In [33]:
df=data.toDF()
df.show()
#structured data with schema can be converted to a dataframe

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|Alice|   50|
+---+-----+-----+

In [34]:
#creating RDD with multiple row objects
data=sc.parallelize([Row(
                    id=1,
                    name="Alice",
                    score=50),
                    Row(
                    id=2,
                    name="Bob",
                    score=80),
                    Row(
                    id=3,
                    name="Charlee",
                    score=75)
                     ])

In [35]:
df=data.toDF()
df.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|   50|
|  2|    Bob|   80|
|  3|Charlee|   75|
+---+-------+-----+

In [36]:
#working with complex data
cd=sc.parallelize([Row(
                    col_float=1.44,
                    col_integer=10,
                    col_string="john")])
cd_df=cd.toDF()
cd_df.show()

+---------+-----------+----------+
|col_float|col_integer|col_string|
+---------+-----------+----------+
|     1.44|         10|      john|
+---------+-----------+----------+

In [37]:
cd=sc.parallelize([Row(
                    col_float=1.44,
                    col_integer=10,
                    col_string="john",
                    col_boolean=True,
                    col_list=[1,2,3])])

In [38]:
cd_df=cd.toDF()
cd_df.show()

+---------+-----------+----------+-----------+---------+
|col_float|col_integer|col_string|col_boolean| col_list|
+---------+-----------+----------+-----------+---------+
|     1.44|         10|      john|       true|[1, 2, 3]|
+---------+-----------+----------+-----------+---------+

In [39]:
cd=sc.parallelize([Row(
                    col_list=[1,2,3],
                    col_dict={"k1":0},
                    col_row=Row(a=10,b=20,c=30),
                    col_time=datetime(2014,8,1,14,1,5)),
                    Row(
                    col_list=[1,2,3,4,5],
                    col_dict={"k1":0,"k2":1},
                    col_row=Row(a=40,b=50,c=60),
                    col_time=datetime(2014,8,2,14,1,6)),
                    Row(
                    col_list=[1,2,3,4,5,6,7],
                    col_dict={"k1":0,"k2":1,"k3":2},
                    col_row=Row(a=70,b=80,c=90),
                    col_time=datetime(2014,8,3,14,1,7)
                    
)])

In [40]:
cd1=cd.toDF()
cd1.show()

+--------------------+--------------------+------------+-------------------+
|            col_list|            col_dict|     col_row|           col_time|
+--------------------+--------------------+------------+-------------------+
|           [1, 2, 3]|           {k1 -> 0}|{10, 20, 30}|2014-08-01 14:01:05|
|     [1, 2, 3, 4, 5]|  {k1 -> 0, k2 -> 1}|{40, 50, 60}|2014-08-02 14:01:06|
|[1, 2, 3, 4, 5, 6...|{k3 -> 2, k1 -> 0...|{70, 80, 90}|2014-08-03 14:01:07|
+--------------------+--------------------+------------+-------------------+

In [41]:
df.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|   50|
|  2|    Bob|   80|
|  3|Charlee|   75|
+---+-------+-----+

In [42]:
df.count()

3

In [44]:
#no column name specification for the row object
data=[('Alice',50),
     ('bob',80),
     ('charlee',75)]

In [45]:
#the map() operation performs a transformation on every element in the RDD
column_names=Row('id','name','score')
students=data.map(lambda r:column_names(*r))
data.map
#assign column names to the data

AttributeError: 'list' object has no attribute 'map'

In [46]:
students

NameError: name 'students' is not defined

In [47]:
students.collect()

NameError: name 'students' is not defined

In [51]:
from pyspark.sql import SQLContext
students_df=SQLContext.createDataFrame(students)
students_df

NameError: name 'students' is not defined

In [52]:
students_df.show()

NameError: name 'students_df' is not defined

In [54]:
cd_df.first()

Row(col_float=1.44, col_integer=10, col_string='john', col_boolean=True, col_list=[1, 2, 3])

In [55]:
cell_string =cd_df.collect()[0][2]
cell_string

'john'

In [57]:
cell_list =cd_df.collect()[0][4]
cell_list

[1, 2, 3]

In [58]:
cell_list.append(100)
cell_list

[1, 2, 3, 100]

In [60]:
cd_df.show()
#the original cell remains unchanged(col_list)

+---------+-----------+----------+-----------+---------+
|col_float|col_integer|col_string|col_boolean| col_list|
+---------+-----------+----------+-----------+---------+
|     1.44|         10|      john|       true|[1, 2, 3]|
+---------+-----------+----------+-----------+---------+

In [61]:
#extract specific columns by converting the dataframe to an RDD
cd_df.rdd\
        .map(lambda x: (x.col_string,x.col_dictionary))\
        .collect()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 7 in stage 75.0 failed 1 times, most recent failure: Lost task 7.0 in stage 75.0 (TID 251) (LIN25007288.corp.capgemini.com executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\sql\types.py", line 1573, in __getattr__
    idx = self.__fields__.index(item)
ValueError: 'col_dictionary' is not in list

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\worker.py", line 619, in main
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\worker.py", line 611, in process
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\serializers.py", line 259, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\util.py", line 74, in wrapper
    return f(*args, **kwargs)
  File "C:\Users\sanedunu\AppData\Local\Temp/ipykernel_3880/607878085.py", line 3, in <lambda>
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\sql\types.py", line 1578, in __getattr__
    raise AttributeError(item)
AttributeError: col_dictionary

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:545)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:703)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:685)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:498)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD.$anonfun$collect$2(RDD.scala:1030)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2254)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2403)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2352)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2351)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2351)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1109)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1109)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1109)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2591)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2533)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2522)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:898)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2214)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2235)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2254)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2279)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1030)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1029)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:180)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\sql\types.py", line 1573, in __getattr__
    idx = self.__fields__.index(item)
ValueError: 'col_dictionary' is not in list

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\worker.py", line 619, in main
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\worker.py", line 611, in process
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\serializers.py", line 259, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\util.py", line 74, in wrapper
    return f(*args, **kwargs)
  File "C:\Users\sanedunu\AppData\Local\Temp/ipykernel_3880/607878085.py", line 3, in <lambda>
  File "C:\Spark\spark-3.2.0-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\sql\types.py", line 1578, in __getattr__
    raise AttributeError(item)
AttributeError: col_dictionary

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:545)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:703)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:685)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:498)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD.$anonfun$collect$2(RDD.scala:1030)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2254)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more

In [62]:
cd_df.select(
        'col_string',
        'col_list',
        'clo_date_time'
).show()

AnalysisException: cannot resolve 'clo_date_time' given input columns: [col_boolean, col_float, col_integer, col_list, col_string];
'Project [col_string#156, col_list#158, 'clo_date_time]
+- LogicalRDD [col_float#154, col_integer#155L, col_string#156, col_boolean#157, col_list#158], false

In [65]:
#A map() operation which appends "Boo" to every string in the column
cd_df.rdd\
        .map(lambda x: (x.col_string+" Boo"))\
        .collect()

['john Boo']

In [66]:
cd_df.select(
            'col_integer',
            'col_float'
        )\
        .withColumn(
        "col_sum",
        cd_df.col_integer + cd_df.col_float)\
        .show()

+-----------+---------+-------+
|col_integer|col_float|col_sum|
+-----------+---------+-------+
|         10|     1.44|  11.44|
+-----------+---------+-------+

In [67]:
cd_df.select('col_boolean')\
.withColumn(
"col_opposite",
cd_df.col_boolean==False)\
.show()

+-----------+------------+
|col_boolean|col_opposite|
+-----------+------------+
|       true|       false|
+-----------+------------+

In [68]:
cd_df.withColumnRenamed("col_dictionary","col_map").show()

+---------+-----------+----------+-----------+---------+
|col_float|col_integer|col_string|col_boolean| col_list|
+---------+-----------+----------+-----------+---------+
|     1.44|         10|      john|       true|[1, 2, 3]|
+---------+-----------+----------+-----------+---------+

In [70]:
cd_df.select(cd_df.col_string.alias("Name")).show()

+----+
|Name|
+----+
|john|
+----+

In [71]:
import pandas

In [72]:
df_pandas=cd_df.toPandas()
df_pandas

   col_float  col_integer col_string  col_boolean   col_list
0       1.44           10       john         True  [1, 2, 3]

In [81]:
df_spark=SQLContext.createDataFrame(df_pandas).show()
df_spark

TypeError: createDataFrame() missing 1 required positional argument: 'data'