In [1]:
import findspark

findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder\
                    .appName("Analyzing airline data")\
                    .getOrCreate()

In [4]:
from pyspark.sql.types import Row
from datetime import datetime

In [5]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.sql("select 'spark' as hello ")

df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName("SparkByExample.com").getOrCreate()
address = [(1,"15851 Jeffrey Rd", "Alice"),
          (2,"Jeffrey Rd", "Bob"),
          (3,"1311 Ave", "CA")]
df = spark.createDataFrame(address,["id","address","Name"])
df.show()

+---+----------------+-----+
| id|         address| Name|
+---+----------------+-----+
|  1|15851 Jeffrey Rd|Alice|
|  2|      Jeffrey Rd|  Bob|
|  3|        1311 Ave|   CA|
+---+----------------+-----+

In [7]:
from pyspark import *
from pyspark.sql import SparkSession, Row
import pyspark.sql.functions as f
# from pysaprk.sql.functions
spark = SparkSession.builder.appName('pyspark - example read csv').getOrCreate()
sc  = spark.sparkContext
df = spark.read.option("header",True).csv(r"C:\Users\sanedunu\Desktop\demo.csv")
df.show()

+---+-------+------+
| id|   name|source|
+---+-------+------+
|  1|  Alice|  ngdb|
|  2|    bod|   jhg|
|  3|    sgf|   kjy|
| 45|   drfv|   jgf|
|  5|    hsr|   gfd|
|  6|    hfb|    fd|
|  7| hdfbgc|     h|
|  8|    jdg|   the|
|  9|jjegfdb|    hy|
| 10|   jdcg|   hfd|
+---+-------+------+

In [8]:
sc

In [12]:
record=sc.parallelize([Row(id=1,
                            name="Jill",
                            clubs=['chess','hockey'],
                            subjects={"math":80,'english':56},
                            enrolled=datetime(2014,8,1,14,1,5)),
                      Row(id=2,
                         active=False,
                         clubs=['chess','soccer'],
                         subjects={"math":60,'english':96},
                         enrolled=datetime(2015,3,21,8,2,5))
                      ])

In [13]:
record_df=record.toDF()
record_df.show()

+---+-----+---------------+--------------------+-------------------+
| id| name|          clubs|            subjects|           enrolled|
+---+-----+---------------+--------------------+-------------------+
|  1| Jill|[chess, hockey]|{english -> 56, m...|2014-08-01 14:01:05|
|  2|false|[chess, soccer]|{english -> 96, m...|2015-03-21 08:02:05|
+---+-----+---------------+--------------------+-------------------+

In [14]:
#register the DataFrame as a table
record_df.createOrReplaceTempView("records")
#createOrReplaceTempView => the table is per-session, not shared across Spark sessions

In [18]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
all_records_df=sqlContext.sql('SELECT * FROM records')
all_records_df.show() #SQL queries return the result as a dataframe

C:\Spark\spark-3.2.0-bin-hadoop3.2\python\pyspark\sql\context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

+---+-----+---------------+--------------------+-------------------+
| id| name|          clubs|            subjects|           enrolled|
+---+-----+---------------+--------------------+-------------------+
|  1| Jill|[chess, hockey]|{english -> 56, m...|2014-08-01 14:01:05|
|  2|false|[chess, soccer]|{english -> 96, m...|2015-03-21 08:02:05|
+---+-----+---------------+--------------------+-------------------+

In [19]:
sqlContext.sql('SELECT id,clubs[1],subjects["english"] FROM records').show()

+---+--------+-----------------+
| id|clubs[1]|subjects[english]|
+---+--------+-----------------+
|  1|  hockey|               56|
|  2|  soccer|               96|
+---+--------+-----------------+

In [22]:
sqlContext.sql('SELECT * FROM records where subjects["english"]>90').show()

+---+-----+---------------+--------------------+-------------------+
| id| name|          clubs|            subjects|           enrolled|
+---+-----+---------------+--------------------+-------------------+
|  2|false|[chess, soccer]|{english -> 96, m...|2015-03-21 08:02:05|
+---+-----+---------------+--------------------+-------------------+

In [24]:
#register the table so it is accessible across all Spark sessions
record_df.createGlobalTempView("global_records")

In [25]:
sqlContext.sql('SELECT * FROM global_temp.global_records').show()

+---+-----+---------------+--------------------+-------------------+
| id| name|          clubs|            subjects|           enrolled|
+---+-----+---------------+--------------------+-------------------+
|  1| Jill|[chess, hockey]|{english -> 56, m...|2014-08-01 14:01:05|
|  2|false|[chess, soccer]|{english -> 96, m...|2015-03-21 08:02:05|
+---+-----+---------------+--------------------+-------------------+