In [1]:
import findspark

findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder\
                    .appName("Analyzing London crime data")\
                    .getOrCreate()

In [9]:
airlines=spark.read\
            .format("csv")\
            .option("header","true")\
            .load(r"C:\Users\sanedunu\Downloads\PySpark\demo2/airlines.csv")
flights=spark.read\
            .format("csv")\
            .option("header","true")\
            .load(r"C:\Users\sanedunu\Downloads\PySpark\demo2/flights.csv")
airports=spark.read\
            .format("csv")\
            .option("header","true")\
            .load(r"C:\Users\sanedunu\Downloads\PySpark\demo2/airports.csv")

In [10]:
airlines.createOrReplaceTempView("airlines")

In [11]:
airlines=spark.sql("SELECT * FROM airlines")
airlines.columns

['Code', 'Description']

In [13]:
airlines.show(5)

+-----+--------------------+
| Code|         Description|
+-----+--------------------+
|19031|Mackey Internatio...|
|19032|Munz Northern Air...|
|19033|Cochise Airlines ...|
|19034|Golden Gate Airli...|
|19035|  Aeromech Inc.: RZZ|
+-----+--------------------+
only showing top 5 rows

In [14]:
flights.createOrReplaceTempView("flights")
flights.columns

['date',
 'airlines',
 'flight_number',
 'origin',
 'destination',
 'departure',
 'departure_delay',
 'arrival',
 'arrival_delay',
 'air_time',
 'distance']

In [15]:
flights.show(5)

+----------+--------+-------------+------+-----------+---------+---------------+-------+-------------+--------+--------+
|      date|airlines|flight_number|origin|destination|departure|departure_delay|arrival|arrival_delay|air_time|distance|
+----------+--------+-------------+------+-----------+---------+---------------+-------+-------------+--------+--------+
|2014-04-01|   19805|            1|   JFK|        LAX|     0854|          -6.00|   1217|         2.00|  355.00| 2475.00|
|2014-04-01|   19805|            2|   LAX|        JFK|     0944|          14.00|   1736|       -29.00|  269.00| 2475.00|
|2014-04-01|   19805|            3|   JFK|        LAX|     1224|          -6.00|   1614|        39.00|  371.00| 2475.00|
|2014-04-01|   19805|            4|   LAX|        JFK|     1240|          25.00|   2028|       -27.00|  264.00| 2475.00|
|2014-04-01|   19805|            5|   DFW|        HNL|     1300|          -5.00|   1650|        15.00|  510.00| 3784.00|
+----------+--------+-------------+------+-----------+---------+---------------+-------+-------------+--------+--------+
only showing top 5 rows

In [16]:
flights.count(),airlines.count()

(476881, 1579)

In [17]:
flights_count=spark.sql("SELECT COUNT(*) FROM flights")
airlines_count=spark.sql("SELECT COUNT(*) FROM airlines")

In [18]:
flights_count, airlines_count

(DataFrame[count(1): bigint], DataFrame[count(1): bigint])

In [19]:
flights_count.collect()[0][0],airlines_count.collect()[0][0]

(476881, 1579)

In [22]:
total_distance_df=spark.sql("SELECT distance FROM flights")\
                        .agg({"distance":"sum"})\
                        .withColumnRenamed("sum(distance)","total_distance")

In [23]:
total_distance_df.show()

+--------------+
|total_distance|
+--------------+
|  3.79052917E8|
+--------------+